#page-sneakers-list {
    width: 100%;
    min-height: 50rem;
}

#page-sneakers-title {
    width: auto;
    height: 10rem;
}

#page-sneaker-title img {
    width: 100%;
    height: 10rem;
}


#page-sneaker-title section {
    width: 100%;
    height: 5rem;
    margin-top: -5rem;
}

#page-sneakers-list {
    display: flex;
    align-content: space-around;
    align-items: center;
}