:root {
  font-size: 55%;

  --color-background: #ececec;
  --color-form-background: #fffefe;
  --color-title: #0d0d0d;
  --color-text-base: #2c2c2c;
  --color-primary-highlight: #f24464;
  --color-primary-main: #f20530;
  --color-primary-dark: #f20519;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background-color: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea,
li {
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
}

/* explain this snippet */
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 700px) {
  :root {
    font-size: 90.5%;
  }
}
