#sneaker-item {
    width: 150rem;
    height: 200rem;
    margin: 10rem;
}

#sneaker-item-content {
    margin: 5rem;
}

#sneaker-item-content img {
    width: 100%;
    height: 100rem;
    border-radius: 1rem 1rem 0rem 1rem;
}